{
  "openapi": "3.0.0",
  "info": {
    "title": "Glitch API",
    "version": "1.0.0",
    "description": "API for interacting with Glitch projects, users, and domains."
  },
  "servers": [
    {
      "url": "https://api.glitch.com"
    }
  ],
  "paths": {
    "/projects/{project_domain}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project using its domain or ID",
        "parameters": [
          {
            "name": "project_domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details"
          }
        }
      }
    },
    "/projects/{project_domain}/readme": {
      "get": {
        "operationId": "getProjectReadme",
        "summary": "Get a project's README.md via its domain",
        "parameters": [
          {
            "name": "project_domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project README"
          }
        }
      }
    },
    "/users/search": {
      "get": {
        "operationId": "searchUser",
        "summary": "Search for users",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        }
      }
    },
    "/v1/users/by/login": {
      "get": {
        "operationId": "getUserByLogin",
        "summary": "Get a user by their login (username)",
        "parameters": [
          {
            "name": "login",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          }
        }
      }
    },
    "/v1/users/by/id": {
      "get": {
        "operationId": "getUserById",
        "summary": "Get a user by their ID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          }
        }
      }
    },
    "/v1/collections/by/fullUrl/projects": {
      "get": {
        "operationId": "getAllProjectsInCollection",
        "summary": "Get all projects in a collection",
        "parameters": [
          {
            "name": "fullUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderKey",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "orderDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "ASC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects"
          }
        }
      }
    },
    "/{project}/console/{persistent_token}": {
      "get": {
        "operationId": "getProjectTerminal",
        "summary": "Get the terminal for a project",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "persistent_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project terminal"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/projects/{project_id}/domains": {
      "post": {
        "operationId": "addCustomDomain",
        "summary": "Add a custom domain to your project",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain added"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "operationId": "listAllCustomDomains",
        "summary": "List all custom domains for a project",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom domains"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects/{project_id}/stop": {
      "post": {
        "operationId": "projectSleep",
        "summary": "Make a project sleep",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project put to sleep"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
