{
    "openapi": "3.0.0",
    "info": {
        "title": "Glitch API",
        "version": "1.0.0",
        "description": "API for interacting with Glitch projects, users, and domains."
    },
    "servers": [
        {
            "url": "https://api.glitch.com"
        }
    ],
    "paths": {
        "/projects/{project_domain}": {
            "get": {
                "operationId": "getProject",
                "summary": "Get a project using its domain or ID",
                "parameters": [
                    {
                        "name": "project_domain",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project details"
                    }
                }
            }
        },
        "/projects/{project_domain}/readme": {
            "get": {
                "operationId": "getProjectReadme",
                "summary": "Get a project's README.md via its domain",
                "parameters": [
                    {
                        "name": "project_domain",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project README"
                    }
                }
            }
        },
        "/users/search": {
            "get": {
                "operationId": "searchUser",
                "summary": "Search for users",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results"
                    }
                }
            }
        },
        "/v1/users/by/login": {
            "get": {
                "operationId": "getUserByLogin",
                "summary": "Get a user by their login (username)",
                "parameters": [
                    {
                        "name": "login",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User details"
                    }
                }
            }
        },
        "/v1/users/by/id": {
            "get": {
                "operationId": "getUserById",
                "summary": "Get a user by their ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User details"
                    }
                }
            }
        },
        "/v1/collections/by/fullUrl/projects": {
            "get": {
                "operationId": "getAllProjectsInCollection",
                "summary": "Get all projects in a collection",
                "parameters": [
                    {
                        "name": "fullUrl",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderKey",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "createdAt"
                        }
                    },
                    {
                        "name": "orderDirection",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "ASC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of projects"
                    }
                }
            }
        },
        "/v1/projects/{project_id}/domains": {
            "post": {
                "operationId": "addCustomDomain",
                "summary": "Add a custom domain to your project",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Domain added"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            },
            "get": {
                "operationId": "listAllCustomDomains",
                "summary": "List all custom domains for a project",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of custom domains"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/projects/{project_id}/stop": {
            "post": {
                "operationId": "projectSleep",
                "summary": "Make a project sleep",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project put to sleep"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/projects/{project_id}/exec": {
            "post": {
                "operationId": "execCommand",
                "summary": "Execute a command in the terminal",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "command": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Command executed"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/v1/users/anon": {
            "post": {
                "operationId": "anonUser",
                "summary": "Create new anonymous user",
                "responses": {
                    "200": {
                        "description": "User object"
                    }
                }
            }
        },
        "/projects/{project_id}/setenv": {
            "post": {
                "operationId": "setEnv",
                "summary": "Set project .env",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Env set"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/project/download/?authorization={persistent_token}&projectId={project_id}": {
            "get": {
                "operationId": "downloadProject",
                "summary": "Download a project",
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "persistent_token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
            },
        "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
      "in": "header",
      "name": "Authorization"
            }
        }
    }
}
